@tailwind base;
@tailwind components;
@tailwind utilities;

.text-pink{
    color: rgb(182, 33, 93);
}
.hotel-input{
    border: 1px solid pink;
    padding: 3px;
    font-size: 1.3rem;
}
.hotel-input:focus{
    outline: none;
    box-shadow: 0 0 5px pink;
}